*{
    padding: 0;
    margin: 0;
}
.textview{
    margin-top: 0px;
    padding: 0 auto;
    background-color: pink;
    height: 200px;
    width: 900px;
align-content: flex-end;
font-size: 54px;
}
.cont{
    display: flex;
    background-color: gray;
    flex-wrap: wrap;
    width: 900px;
    height: 1100;
}
.button{
    background-color: lightpink;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 200px;
    height: 200px;
}
.longcon > input{
    background-color: lightpink;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 420px;
    height: 200px;
    flex: 2;
}


